
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
tests/example.spec.js
tests-examples/demo-todo-app.spec.js
tests/fw-diamond.spec.js
tests/ja-core.spec.js
tests/fw-core.spec.js
tests/fw-events.spec.js
tests/fw-navigation.spec.js
allure-results/4c5cd21b-a1e0-4691-9d82-5ab4097a069a-attachment.png
allure-results/7b594115-0e19-45a5-b2f1-9a4b452dce16-result.json
allure-results/8b2b1b0a-02e8-4d2d-b286-928f4d817bba-result.json
allure-results/98cd9e49-5144-402a-bf61-348e7f72b4bb-result.json
allure-results/291b0264-3bbc-44e7-8073-39a8b7503638-result.json
allure-results/313ecea5-bd02-4652-90a0-c62af04a3f83-attachment.png
allure-results/436c2e31-f440-4df7-9bb7-781903728a82-result.json
allure-results/510ee09b-432c-46f7-b7bb-7b39ea6fce53-result.json
allure-results/7738e3cd-6f3b-424f-86df-bd763425bbc9-result.json
allure-results/121459dd-8cfa-4e59-98f8-3f696e431658-result.json
allure-results/a0e12ded-c6bc-4ec4-ac3a-43a637b48733-result.json
allure-results/a9ebc383-2422-498c-8c4f-4ff1de2b1eb3-attachment.png
allure-results/af2378a6-6ec5-49ac-9894-66cff195c6a9-result.json
allure-results/b325bcf5-f9b7-4065-9d26-4e5603ca2d11-result.json
allure-results/d1b7f1ea-8ebc-4885-aa26-35a3d2969d92-attachment.png
allure-results/fc376962-03dd-4ca4-bbe3-022e46d54767-result.json
allure-report/app.js
allure-report/favicon.ico
allure-report/index.html
allure-report/styles.css
allure-report/data/behaviors.csv
allure-report/data/behaviors.json
allure-report/data/categories.csv
allure-report/data/categories.json
allure-report/data/packages.json
allure-report/data/suites.csv
allure-report/data/suites.json
allure-report/data/timeline.json
allure-report/data/attachments/8e074311c9aa0e68.png
allure-report/data/attachments/339d4f33029b4ab1.png
allure-report/data/attachments/580b2512146eac09.png
allure-report/data/attachments/ad21126e434cd2f1.png
allure-report/data/test-cases/2a30927e14cc14d0.json
allure-report/data/test-cases/5c4122dfd41b111d.json
allure-report/data/test-cases/6feb0a1881074b56.json
allure-report/data/test-cases/53398a000ae766d.json
allure-report/data/test-cases/6901139d60bd4a2d.json
allure-report/data/test-cases/aaf573b23ec45ce8.json
allure-report/data/test-cases/ad8908bbfb10812f.json
allure-report/data/test-cases/bfa2e84896155d7a.json
allure-report/data/test-cases/c2e90d095ab0cc5d.json
allure-report/data/test-cases/c4a25d3c2a7f4ddf.json
allure-report/data/test-cases/cadff1ebc086862a.json
allure-report/data/test-cases/f3f66b1643f14d4b.json
allure-report/export/influxDbData.txt
allure-report/export/mail.html
allure-report/export/prometheusData.txt
allure-report/history/categories-trend.json
allure-report/history/duration-trend.json
allure-report/history/history-trend.json
allure-report/history/history.json
allure-report/history/retry-trend.json
allure-report/plugin/behaviors/index.js
allure-report/plugin/packages/index.js
allure-report/plugin/screen-diff/index.js
allure-report/plugin/screen-diff/styles.css
allure-report/widgets/behaviors.json
allure-report/widgets/categories-trend.json
allure-report/widgets/categories.json
allure-report/widgets/duration-trend.json
allure-report/widgets/duration.json
allure-report/widgets/environment.json
allure-report/widgets/executors.json
allure-report/widgets/history-trend.json
allure-report/widgets/launch.json
allure-report/widgets/retry-trend.json
allure-report/widgets/severity.json
allure-report/widgets/status-chart.json
allure-report/widgets/suites.json
allure-report/widgets/summary.json
env/.env.prod
env/.env.stag
